#contain{
    text-align: center;
    background: #000;
    color: aqua;
    width: 790px;
    padding-bottom: 200px;
    margin-left: 28%;
}
ul{
    list-style: none;
}
#btn{
    color: rgb(26, 19, 215);
    background: rgb(219, 180, 180);
    text-transform: capitalize;
   font-size: large;
}
